In [248]:
import pandas as pd
pd.set_option('display.max_colwidth', 500)

In [249]:
332 + 3653 + 331

4316

In [250]:
df_train = pd.read_json('../data/watclaimcheck data/train.json')
df_test = pd.read_json('../data/watclaimcheck data/test.json')
df_dev = pd.read_json('../data/watclaimcheck data/valid.json')

df = pd.concat([df_train, df_test, df_dev])
df1 = pd.read_csv('../data/dev.csv')
df2 = pd.read_csv('../data/train.csv')
df3 = pd.read_csv('../data/test.csv')
df_logic = pd.concat([df1, df2, df3])
len(df3)

331

In [251]:
num_dev = 500
num_test = 500
num_train = 4000

In [252]:
len(df)

33721

In [253]:
df.head()
df = df[df.apply(lambda x: 'original_rating' in x['label'] and (x['label']['original_rating'] == 'true' or x['label']['original_rating'] == 'mostly-true' ) , axis=1)]

In [254]:
len(df)

5772

In [255]:
logic_text = pd.DataFrame(df_logic['text'])
logic_text['label'] = 1

In [256]:
df['metadata']=df['metadata'].apply(lambda x: x['claim'])

In [257]:
df = df.rename(columns={'metadata': 'text'})
df = pd.DataFrame(df['text'])
df['label'] = 0

In [258]:
print(df.head(), len(df))

                                                                                                                                            text  \
12                                                        "In 30 states, average teacher pay is less than the living wage for a family of four."
13                                                                                    Says that U.S. Rep. Allen West is "a constituent of mine."
14                   "The average margin of victory in the House of Representatives was 37%" for Democrats and Republicans in the 2016 election.
18  Says Texas House rules authorized by the Texas Constitution supersede the state law permitting anyone to record a public government meeting.
25                                                                          "Not a single Democrat opposed Neil Gorsuch's confirmation in 2006."

    label
12      0
13      0
14      0
18      0
25      0   5772

In [259]:
logic_text.head()
len(logic_text)

4316

In [260]:
logic_text

,text,label
0,"McDonald's Hamburgers, over 99 billion served.",1
1,"""Dad, it's difficult to make a living on my salary."" ""Consider yourself lucky. When I was your age, I was living on $40 a week.""",1
2,"""You're not Kenyan enough to be a good leader in Kenya.""",1
3,"It is possible to fake the moon landing through special effects. Therefore, the moon landing was a fake using special effects.",1
4,"The time that children are vaccinated and the time they're diagnosed do closely correlate, however, leading upset parents to assign blame to the immunizations, for lack of a better explanation.",1
...,...,...
326,Everyone is against child pornography. I asked Mrs. Smith and Mr. Jones at the PTA meeting and they are definitely against it.,1
327,"Sometimes kids ride skateboards and fall off, breaking their arms or legs. Clearly, riding a skateboard is extremely dangerous. Don’t you think skateboards should be banned?",1
328,Encourages the audience to become part of a group or act because other people are acting in the same way.,1
329,"""Every 0.008 seconds in the United States, a teen accidentally shatters his/her phone screen. You can help put an end to these devastating tragedies: donate now to my Kickstarter fund, the new Bubble-wrap Phone Case X.""",1
330,My way of responding to difficult patients is by far the most ethical because no other way is so ethical and it is the only way that is completely ethical.,1

In [261]:
DF = pd.concat([logic_text, df], ignore_index=True)

In [262]:
from sklearn import model_selection

X = DF.drop('label', axis=1)  # Features
y = DF['label']  # Target variable

# Split the data into a training set and a testing set (e.g., 80% train, 20% test)
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2, random_state=42)

In [273]:
df

,text,label
12,"""In 30 states, average teacher pay is less than the living wage for a family of four.""",0
13,"Says that U.S. Rep. Allen West is ""a constituent of mine.""",0
14,"""The average margin of victory in the House of Representatives was 37%"" for Democrats and Republicans in the 2016 election.",0
18,Says Texas House rules authorized by the Texas Constitution supersede the state law permitting anyone to record a public government meeting.,0
25,"""Not a single Democrat opposed Neil Gorsuch's confirmation in 2006.""",0
...,...,...
3336,"""Since 2000, only 10 cases of in-person voter fraud have been proven nationally.""",0
3343,Facebook posts by commercial flight attendants describe their experiences working on flights transporting unaccompanied immigrant children to detention facilities.,0
3344,"""President Obama decided not to meet with Prime Minister Benjamin Netanyahu in New York.""",0
3367,"""The President wants to cut 3 MILLION people from SNAP, including children, seniors and veterans.""",0
3371,"Says President Barack Obama’s approval rating ""gained 3 points in the last couple months.""",0

In [300]:
df = df.drop_duplicates()

In [301]:
df = df.sample(frac=1)

In [302]:
len(df)

5768

In [303]:
training_samples = df[:4000]
dev_samples = df[4001:4500]
test_samples = df[4501:5000]

training_text = pd.DataFrame(df2['text'])
training_text['label'] = 1
training_ = pd.concat([training_text, training_samples])

dev_text = pd.DataFrame(df1['text'])
dev_text['label'] = 1
dev_ = pd.concat([dev_text, dev_samples])

test_text = pd.DataFrame(df3['text'])
test_text['label'] = 1
test_ = pd.concat([test_text, test_samples])

In [304]:
training_.sample(frac=1, random_state=1).to_csv('../data/binary/train.csv', index=False)
dev_.sample(frac=1, random_state=1).to_csv('../data/binary/dev.csv', index=False)
test_.sample(frac=1, random_state=1).to_csv('../data/binary/test.csv', index=False)

In [309]:
rows = test_.merge(dev_, on=list(test_.columns), how='inner')

print(rows)

Empty DataFrame
Columns: [text, label]
Index: []

In [306]:
d = d.sample(frac=1)  # frac=1 shuffles all rows, random_state for reproducibility

In [307]:
d[['text', 'label']].to_csv('../data/binary/train.csv', index=False)